* {
  font-family: AvenirNext-Regular;
}

.logo {
  font-size: 2rem !important;
}

.navbar-nav {
  .btn-transparent.active > a {
    background-color: #f5f6f8;
    color: $warm-pink !important;
  }

  .btn-transparent > a {
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $warm-pink;
    width: 140px;
  }
}

.label-top-sidebar {
  background-color: $warm-pink;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  color: #FFF;
  width: 90%;
  line-height: 36px;
  margin: 12px 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  background-color: #dadcde;
  content: "";
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 4px;
  height: 4px;
  padding-right: 0;
  vertical-align: middle;
}

.breadcrumb-item {
  &:first-child {
    a {
      font-weight: bold;
      color: #000;
    }
  }

  span, a {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: $blue-gray;
  }
}

.sidebar-links {
  .nav-item {
    a {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      color: $blue-gray;
    }

    a.active {
      color: $dark;
    }
  }
}

.vs__search, .vs__search:focus {
  color: #495057;
}

.vs--searchable .vs__dropdown-toggle{
  padding: 4px 12px;
}

.the-results-of-the-r {
  padding-left: 12px!important;
  padding-top: 28px;
  padding-bottom: 33px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #8495a0;
}

.table thead th {
  border-bottom-color: rgba(247, 93, 119, 0.7);
}

.table th {
  border-top: 0px solid;
}
